html {
	height: auto;
	width: auto;
	padding: 0;
	font-family: 'Wallpoet';

}

body {
	height: 100%;
	width: 68%;
	margin: auto;
	background: url(Fond.png);
	background-size: cover;
	padding: 0;
}

header {
	display: block;
	width: 100%;
}

h1.title {
	color: white;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	font-size: 50px;
}

h2.title {
	text-align: center;
}

div.container {
	margin-top: 10.5%;
	height: 39%;
}

div.btn {
	color: black;
	margin: auto;
	text-align: center;
	width: max-content;
}

div.btn h1 {
	cursor: pointer;
	background-color: white;
	border: 1px solid #000;
	border-radius: 15px;
	width: max-content;
	padding: 10px;
	margin: auto;
	color: black;
	font-size: 50px;
}

div.btn h1:hover {
	cursor: pointer;
	border: 1px solid #fff;
	background-color: black;
	color: white;
	font-size: 50px;
}

.info {
	margin-top: 50px !important;
}

.fermer {
	margin-top: 50px !important;
}

a {
	text-decoration: none;
}

div.information {
	font-family: calibri;
	color: white;
	margin-left: 25%;
	margin-right: 25%;
	font-size: 25px;
	text-align: justify;
}

div.image1 {
	text-align: center;
	margin: auto;
}

div.image2 {}

.img {
	cursor: zoom-in;
	width: 30%;
	height: 30%;
}


div.canvas {
	width: max-content;
	margin: auto;
}

canvas {

	cursor: none;
	border: 1px solid #FFF;
	background-color: black;
	display: block;
	position: relative;
	margin: auto;
	margin-top: 1%;
}

div.button {
	width: max-content;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

input {
	cursor: pointer;
	text-align: center;
	width: max-content;
	color: white;
}

input:hover {
	background-color: white !important;
	color: black;
	border-color: #3f2011;

}

#play {

	font-size: 20px;
	background-color: black;
	border-radius: 15px;
}

#start {
	font-size: 20px;
	background-color: black;
	border-radius: 15px;
}

#mode {
	font-size: 20px;
	background-color: black;
	border-radius: 15px;
}

.home {
	height: 40px;
	width: 40px;
	background: url(Image/home.png);
	margin: auto;
	text-align: center;

}

.home:hover {
	height: 40px;
	width: 40px;
	background: url(Image/home_hover.png) !important;
	margin: auto;
	text-align: center;
}