html {
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 100%;
    color: azure;
}

#play_page {
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0.2rem;
    font-family: 'Wallpoet';
    background-color: black;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
    margin: auto;
}

#sub {
    text-align: center;
    margin: auto;
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

.origine {
    text-align: justify;
    font-size: 1rem;
}

canvas {
    margin-top: 1rem;
    border: 0.1rem solid #FFF;
    width: 65rem;
    height: 30rem;
    margin: auto;
    margin-top: 2rem;

}

canvas {
    margin-top: 1rem;
    border: 0.1rem solid #FFF;
    cursor: none;
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}


button {
    font-family: 'Wallpoet';
    display: inline-block;
    background-color: #000000;
    border-radius: 1rem;
    border: 0.5rem double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;

}

button:hover {
    background-color: green;
}

.head_btn {

    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#play {
    text-align: center;
    height: 100%;
    width: 100%;
}

.game_btn {
    vertical-align: baseline;
    margin-top: 18rem;
}

#head {
    width: fit-content;
    margin: auto;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

#story {
    width: fit-content;
    margin-left: 5rem;
    margin-right: 5rem;
    height: 20rem;
    display: inline-block;

}

#crea1 {
    max-width: 15rem;
    margin: auto;
}

#crea2 {
    max-width: 15rem;
    margin: auto;

}

#fig1 {
    display: flex;
    margin-top: 0rem;
    flex-flow: column;
    float: left;
    /* margin-right: 1rem;*/
    padding: 5px;
    text-align: center;

}

#fig2 {
    display: flex;
    margin-top: 0rem;
    flex-flow: column;
    float: right;
    margin-right: 1rem;
    padding: 5px;
    text-align: center;

}


figcaption {
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}