html {
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 100%;
    text-size-adjust: auto;
    color: azure;
}

#play_page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

}

.flex_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 25%;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border: solid 0.2rem azure;
    border-radius: 1rem;
    text-align: center;
    border-spacing: 0;

}


th,
td {
    padding: 0.5rem;
    font-size: 1.3rem;
}

.right {
    border-right: solid 0.1rem azure;

}

.left {
    border-left: solid 0.1rem azure;
}

th.col {
    border-bottom: solid 0.2rem azure;
    font-size: 2rem;
}

.rang {
    font-size: 1.8rem;
}

body {
    font-family: 'Wallpoet';
    background-color: black;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
    margin: auto;
}

h2 {
    margin-left: 5rem;
    color: rgb(139, 207, 38);
}

#sub {
    text-align: center;
    margin: auto;
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

.origine {
    text-align: justify;
    font-size: 1rem;
}

p {
    line-height: 1.5rem;
}

canvas {
    border: 0.1rem solid #FFF;
    cursor: none;
}


button {
    font-family: 'Wallpoet';
    display: inline-block;
    background-color: #000000;
    border-radius: 1rem;
    border: 0.5rem double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;

}

button:hover {
    background-color: rgb(139, 207, 38);
    color: #000000;
    border-color: #3e3e3e;
}

#txt_score {
    font-size: 1.5rem;
}

.head_btn {

    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


#head {
    width: fit-content;
    margin: auto;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    display: flex;
}

#play {
    text-align: center;
}

.game_btn {
    vertical-align: baseline;
}


#story {
    margin-left: 5rem;
    margin-right: 5rem;
    display: inline-block;

}

#crea1 {
    max-width: 10rem;
    margin: auto;
}

#crea2 {
    max-width: 10rem;
    margin: auto;

}

#fig1 {
    display: flex;
    margin: 0 1rem 0 0;
    flex-flow: column;
    float: left;
    padding: 5px;
    text-align: center;

}

#fig2 {
    display: flex;
    margin: 0 0 0 1rem;
    flex-flow: column;
    float: right;
    padding: 5px;
    text-align: center;

}


figcaption {
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.intro {
    text-align: justify;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    font-size: 1rem;
}

#home {
    width: 40px;
    height: 40px;
    margin-top: 0.2rem;
    background-image: url(/img/home.png);

}

#home:hover {
    background-image: url(/img/home_hover.png);
}

#label_nickname {
    font-size: 1.5rem;
}

#nickname {
    margin: auto 1.5rem auto 0.5rem;
    font-family: 'Wallpoet';
    display: inline-block;
    background-color: #000000;
    border-radius: 1rem;
    border: 0.5rem double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: auto;
    cursor: pointer;
}

#submit {
    margin-top: 1rem;
}

#contacts_btn {
    font-size: 0.8rem;
    align-items: center;
}

#foot_home {
    border-top: 0.5rem double #cccccc;
    display: flex;
    margin-top: 5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}



/*CSS de la page de contacts*/
#foot_contacts {
    border-top: 0.5rem double #cccccc;
    display: flex;
    margin-top: 5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}



#contacts_body {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.contactez-nous {
    max-width: 50rem;
    border: 0.1rem solid;
    border-radius: 2rem;
    padding: 0 2rem 0 2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;

    margin-top: 1.5rem;
}

form div>label {
    margin-bottom: 0.5rem;
}

form div>input,
form div>select,
form div>textarea {
    background: #616161;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;

}

form div>input,
form div>select {
    height: 3rem;
    padding-left: 0.7rem;
}

form div>textarea {
    height: 15rem;
    padding: 15px 0px 0px 10px;
    color: #ffffff;
}

form div>input::placeholder,
form div>textarea::placeholder {
    color: white;
}

form div>select:invalid {
    color: white;
}

form div>select option {
    background: rgb(0, 0, 0);
    color: #ffffff;
}

form div:last-child {
    align-items: center;
    margin-top: 20px;
}

#contact_btn {

    max-width: 30rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#sujet {
    color: #ffffff;
}